/* código omitido */

.categoria-videos img {

}

.categoria-videos img {
    opacity: 0.5;


}.categoria-videos img {
    opacity: 0.5;
    height: 200px;
}

.categoria-videos img:hover {

}

.categoria-videos img {
    opacity: 0.5;
    height: 200px
}

.categoria-videos img:hover {
    opacity: 1.0;
}
.categoria-videos img:hover {
    opacity: 1.0;
}

.categoria h2 {

}
.categoria-videos img:hover {
    opacity: 1.0;
    border: 1px solid green;
}

.categoria h2 {
    color: rgb(42, 122, 228);
}

